<!DOCTYPE html>
<html>
	<head>		
	    <!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
		<!-- Bootstrap CSS-->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		
		<!-- CSS-->
		<link rel="stylesheet" type = "text/css" href="/css/stylesheet.css"> 

		<title>Scissoroo</title>
	</head>
	<body>
		<nav class="navbar navbar-light bg-light">
		  <a class="navbar-brand" href="/"><img src="https://raw.githubusercontent.com/xnngyn/Scissoroo/master/public/images/Scissoroo_Logo.jpg" width="100" height="100" alt=""></a> <!--../Bilder/Scissoroo_Logo.jpg-->
			<form class="form-inline">
			  	<a class="btn btn-secondary mr-sm-2" href="signup" role="button">Registrieren</a>
				<a class="btn btn-secondary" href="signin" role="button">Anmelden</a>
			</form>
		  </div>
		</nav>	

		<div id="createAcc">
			<section class="insertuser">
				<h3>Vielen Dank f체r Ihre Registrierung</h3>
				<form action="/insertuser" method="post">
					<label>Sie erhalten in K체rze die Best채tigung der Registrierung und die weiteren Schritte f체r die Freischaltung Ihres Zugangs.</label>
					<a href="/" >Zur Startseite</a>
				</form>
			</section>
		</div>
	</body>
</html>