<!DOCTYPE html>
<html>
	<head>		
	    <!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
		<!-- Bootstrap CSS-->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		
		<!-- CSS-->
		<link rel="stylesheet" type = "text/css" href="css/style_home.css"> 

		<title>Scissoroo</title>
	</head>
	<body>
		<nav class="navbar navbar-light bg-light">
		  <a class="navbar-brand" href="/"><img src="https://raw.githubusercontent.com/xnngyn/Scissoroo/master/public/images/Scissoroo_Logo.jpg" width="100" height="100" alt=""></a> <!--../Bilder/Scissoroo_Logo.jpg-->
			<form class="form-inline">
			  	<a class="btn btn-secondary mr-sm-2" href="/users/signup" role="button">Registrieren</a>
				<a class="btn btn-secondary" href="/users/signin" role="button">Anmelden</a>
			</form>
		</nav>	
		<div id="h002" class="container-fluid padding">
			<div class="row welcome text-center">
				<div class="col-12">
					<h3>Hallo und herzlich Willkommen :-)</h6>
				</div>
				<hr>
				<div class="col-12">
					<p class="lead">Dies ist das Ergebnis eines Studienprojekts von 7 Wirtschaftsinformatik-Studierenden der Hochschule für Technik Stuttgart.</p>
				</div>
				<div class="col-12">
					<p class="lead"><mark>Um auf alle Inhalte zugreifen zu können, müssen Sie sich zunächst registrieren bzw. einloggen.<mark></p>
				</div>
				<div class="col-12">
					<p class="lead">Wer kennt das Problem nicht: Man benötigt wieder dringend einen Haarschnitt, weil am Wochenende ein besonderes Ereignis bevorsteht und man dafür natürlich gut aussehen möchte. Der Stammfriseur hat aber leider keinen Termin mehr frei und eine Alternative hat man nicht, da man sich bisher immer auf seinen Stammfriseur verlassen hatte. Doch wie findet man nun in der kurzen Zeit einen kompetenten Friseur, der zum einen an die Qualität des Stammfriseurs anknüpfen kann und zum anderen bis zum Ereignis noch einen Termin frei hat? Die Zeiten, an denen man sich durch alle möglichen Friseure durchgeklingelt hatte, um sich zu erkundigen, ob demnächst ein Haarschnitt möglich wäre und der Preis seinen Vorstellungen entspreche, sind vorbei!Das Konzept von Scissoroo bietet mit Ihrer Plattform die Lösung des Problems an, indem Sie den Kunden die Möglichkeit geben, die Qualität und Preise geeigneter Friseur im Umkreis zu vergleichen und anschließend einen Termin zu vereinbaren. Aus diesem Grund ist das Motto der Scissoroo GmbH:„A Haircut anytime, anywhere”</p>
				</div>
	</body>
</html>