<!DOCTYPE html>
<html>
	<head>		
	    <!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
		<!-- Bootstrap CSS-->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		
		<!-- CSS-->
		<link rel="stylesheet" type = "text/css" href="css/stylesheet.css"> 

		<title>Scissoroo</title>
	</head>
	<body>
		<nav class="navbar navbar-light bg-light">
		  <a class="navbar-brand" href="/"><img src="https://raw.githubusercontent.com/xnngyn/Scissoroo/master/public/images/Scissoroo_Logo.jpg" width="100" height="100" alt=""></a> <!--../Bilder/Scissoroo_Logo.jpg-->
			<form class="form-inline">
				<a href="">Profile</a>
				<a href=""><img src="settings.png"></a>
			</form>
		</nav>
		<label id="name" name="name"></label><br/>
		<label id="strasse" name="strasse"></label><br/>
		<label id="hausnr" name="hausnr"></label><br/>
		<label id="plz" name="plz"></label><br/>
		<label id="stadt" name="stadt"></label><br/>
		<label id="email" name="email"></label><br/>
		<label id="angestellte" name="angestellte"></label><br/>
		<label id="bild" name="bild"></label><br/>
		<label id="parkplätze" name="parkplätze"></label><br/>
		<a href="" role="button">Profil bearbeiten</a><br/>
		
	</body>