<!DOCTYPE html>
<html>
	<head>		
	    <!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
		<!-- Bootstrap CSS-->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		
		<!-- CSS-->
		<link rel="stylesheet" type = "text/css" href="css/stylesheet.css"> 

		<title>Scissoroo</title>
	</head>
	<body>
		<nav class="navbar navbar-light bg-light">
		  <a class="navbar-brand" href="/"><img src="https://raw.githubusercontent.com/xnngyn/Scissoroo/master/public/images/Scissoroo_Logo.jpg" width="100" height="100" alt=""></a> <!--../Bilder/Scissoroo_Logo.jpg-->
			<form class="form-inline">
				<a href="">Profile</a>
				<a href=""><img src="settings.png"></a>
			</form>
		</nav>
		<select id = "sex" name="sex">
			<option value="Female" selected>Frau</option>
			<option value="Male">Herr</option>
		</select><br/>
		<input id="fname" name="fname" type="text" placeholder="Vorname" required /><br/>
		<input id="lname" name="lname" type="text" placeholder="Nachname" required /><br/>
		<input id="gdatum" type="date" name="gdatum" required/><br/>
		<input id="strasse" type="text" name="strasse" placeholder="Straße" required /><br/>
		<input id="hausnr" type="text" name="hausnr" placeholder="Hausnummer" required /><br/>
		<input id="plz" type="text" name="plz" placeholder="PLZ" required /><br/>
		<input id="stadt" type="text" name="stadt" placeholder="Stadt" required /><br/>
		<input id="email" name="email" type="email" placeholder="Email" required /><br/>
		<a href="" role="button">Änderungen speichern</a><br/>
	</body>