<!DOCTYPE html>
<html>
<head>	
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	
	<!-- CSS-->
	<link rel="stylesheet" type = "text/css" href="css/stylesheet.css"> 

	<title>Results</title>
</head>
<body>
	<nav class="navbar navbar-light bg-light">
		<a class="navbar-brand" href="/"><img src="https://raw.githubusercontent.com/xnngyn/Scissoroo/master/public/images/Scissoroo_Logo.jpg" width="100" height="100" alt=""></a> <!--../Bilder/Scissoroo_Logo.jpg-->
			<form class="form-inline">
				<a href="">Profile</a>
				<a href=""><img src="../public/images/settings.png"></a>
			</form>
		</div>
	</nav>

	<div>
		<h3>Choose your Service</h3>
		<input value="Your City">
		<input type="radio" id="mc" name="Categorie" value="Man cut">
		<label for="mc">Man cut</label>
		<input type="radio" id="wc" name="Categorie" value="Woman cut">
		<label for="mc">Woman cut</label>
		<input type="radio" id="w" name="Categorie" value="Washing">
		<label for="w">Washing</label>
		<input type="radio" id="dy" name="Categorie" value="Dyeing">
		<label for="dy">Dyeing</label>
		<input type="radio" id="ba" name="Categorie" value="Barber">
		<label for="ba">Barber</label>
		<input type="radio" id="pe" name="Categorie" value="Perm">
		<label for="pe">Perm</label>
		<input type="radio" id="hm" name="Categorie" value="Head Massage">
		<label for="mc">Head Massage</label>
		<label>Sort by
    		<select>
  				<option value="?">Best rated</option>
  				<option value="?">Lowest price</option>
  				<option value="?">Highest price</option>
  				<option value="?">Smallest distance</option>
			</select>
  		</label>
	</div>
	<section class="get">
		<div>
		<h2>Friseure</h2>
		<a href="/get-data">alle Friseure laden</a>
		</div>
	</section>
</body>

</html>