<!DOCTYPE html>
<html>
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">	
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<!-- Bootstrap CSS-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		
	<!-- CSS-->
	<link rel="stylesheet" href="/css/stylesheet.css" type="text/css"> <!--../css/stylesheet.css-->

	<title>Sign in</title>
</head>
<body>
	<nav class="navbar navbar-light bg-light">
		<a class="navbar-brand" href="/"><img src="https://raw.githubusercontent.com/xnngyn/Scissoroo/master/public/images/Scissoroo_Logo.jpg" width="100" height="100" alt=""></a> <!--../Bilder/Scissoroo_Logo.jpg-->
		<form class="form-inline">
			<a class="btn btn-secondary mr-sm-2"  href="signup" role="button">Registrieren</a>
			<a class="btn btn-secondary disabled" tabindex="-1" role="button" aria-disabled="true">Anmelden</a>
		</form>
	</nav>	

	<div class="container-fluid padding">
		<div class="row justify-content-center text-center">
			<div class="col-2">
				<section class="loginuser">
				<h3>Login</h3><br/>
					<form action="/users/login" method="post">
						<input id="emaillogin" type="text" name="emaillogin" placeholder="E-Mail"><br/>
						<input id="passlogin" type="password" name="passlogin" placeholder="Password"><br/>
						<button type="submit" class="btn btn-primary btn-block">Anmelden</button><br/>
						<a href="signup">Need a new Account?</a><br/>
						<a href="#">Forgot password?</a>
					</form>
				</section>
			</div>
		</div>	
	</div>
</body>
</html>