<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">	
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<!-- Bootstrap CSS-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		
	<!-- CSS-->
	<link rel="stylesheet" href="css/stylesheet.css" type="text/css"> <!--../css/stylesheet.css-->

	<title>Sign up provider</title>
</head>
<body>
	<nav class="navbar navbar-light bg-light">
		<a class="navbar-brand" href="index.html"><img src="https://raw.githubusercontent.com/xnngyn/Scissoroo/master/public/images/Scissoroo_Logo.jpg" width="100" height="100" alt=""></a> <!--../Bilder/Scissoroo_Logo.jpg-->
		<form class="form-inline">
			<a class="btn btn-secondary mr-sm-2" href="Sign up.html" role="button">Sign up</a>
		  <a class="btn btn-secondary" href="Sign in.html" role="button">Sign in</a>
		 </form>
	</nav>	
	  
	<div id="insertprovider">
		<section class="insertprovider">
			<h3>Create an Provider-Account</h3>
			<form action="/insertprovider" method="post">
			<input id="name" name="name" type="text" placeholder="Salon Name"/><br/>
			<input id="strasse" name="strasse" type="text" placeholder="Strasse" />
			<input id="hausnr" type="text" name="hausnr" placeholder="Hausnummer"><br/>
			<input id="plz" type="text" name="plz" placeholder="PLZ"/>
			<input id="stadt" type="text" name="stadt" placeholder="Stadt"/><br/>
			<input id="email" type="email" name="email" placeholder="Email"/><br/>
			<input id="angestellte" type="text" name="angestellte" placeholder="Anzahl der Friseure">
			<input id="bild" type="image" name="bild" placeholder="Bild">
			<input list="parkplatz" name="parkplatz" id="parkplatz" type="text"/>
  				<datalist id="parkplatzt"><br/>
    				<option value="Ja">
    				<option value="Nein">
  				</datalist>
  			<input id="mfriseur" type="checkbox" name="mfriseur" />Männerschnitt
  			<input id="ffriseur" type="checkbox" name="ffriseur" />Frauenschnitt
  			<input id="hwaschen" type="checkbox" name="hwaschen" />Waschen
  			<input id="foenen" type="checkbox" name="foenen" />Fönen
  			<input id="beratung" type="checkbox" name="beratung" />Beratug
  			<input id="faerben" type="checkbox" name="faerben" />Färben
			<input id="toenen" type="checkbox" name="toenen" />Tönung
			<br/>  
			<input id="password" type="password" name="password" placeholder="Password" /><br/>
			<button type="button" class="btn btn-primary btn-block">Sign Up</button>
			<a href="Sign in.html">Already have an account?</a><br/>
			<a href="Sign up provider.html">Sign up as provider</a><br/>
			<h6>By pressing Sign Up you agree with the Terms of Services and Privacy Policy</h6>
			</form>
		</section>
	</div>
</body>
</html>