
html, body {
	height: 100%;
	background-color: gray;
	background-image: url("../images/Home_Hintergrund.jpg");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

#h001 {
	color: white;
	background-color: hsla(0,0%,50%,0.5);
	text-align: center;
}

#eingabe {
	color: white;
	background-color: hsla(0,0%,50%,0.5);
	text-align: center;
	/* position: center center; */
}

input:placeholder-shown {
	text-align: center;
}