
html, body {
	height: 100%;
	background-color: gray;
	background-image: url("../images/Home_Hintergrund.jpg");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

mark {
	background-color: yellow;
}

#h002 {
	color: white;
	background-color: hsla(0,0%,50%,0.75);
	text-align: center;
}

#h001 {
	color: white;
	background-color: hsla(0,0%,50%,0.5);
	text-align: center;
}

#eingabe {
	color: white;
	background-color: hsla(0,0%,50%,0.5);
	text-align: center;
	/* position: center center; */
}

input:placeholder-shown {
	text-align: center;
}

footer {
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: white;
	color: black;
	padding-top: 2rem;
}