html,body {
	height: 100%;
	background-color: gray;
	/* box-sizing: border-box; */
	color: white;
	
	
}

/*
*, *:before, *:after {
   box-sizing: inherit; 
} */

/* Nachfolgendes zum testen */
#createAcc {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 4px solid black; /* zum testen */
}	


